#drid {
  border: 1px solid black;
}

#game-board {
  position: sticky;
  top: 1em;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  max-width: calc(100vh - 2em);
  max-height: calc(100vh - 2em);
  overflow: hidden;
  border: 12px solid #6D5720;
  border-radius: 12px;
}

#overlay {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#soft-grass {
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  grid-column: 1;
  grid-row: 1;
  border: 1px solid ghostwhite;
  background-color: lightgreen;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
